body {
    background: rgb(56, 250, 165);
}

.navbar {
    margin: 20px 0px;
}

.blog-header {
    padding: 100px 0px;
}

.blog-footer {
    background-color: #333;
    color: #eee;
    font-size: 14px;
}

.blog-footer-widget {
    margin-top: 25px;
    margin-bottom: 50px;
    line-height: 23px;
}

ul.blog-link-list {
    margin-top: -6px;
    padding-left: 23px;
    list-style: none;
}

ul.blog-link-list li {
    line-height: 23px;
}

ul.blog-link-list li:before {
   content: "";
    background-color: #444;
    border-style: solid;
    border-width: 4px 4px;
    display: block;
    width: 8px;
    left: -20px;
    top: 15px;
    position: relative;
}

ul.blog-link-list li a {
    color: #eee;
    padding-bottom: 5px;
}
.blog-copyright {
    color: #7b8690;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    background-color: #232323;
}
